USE [csharpdatabase]
GO
/****** Object:  Table [dbo].[t_class]    Script Date: 2023/5/22 22:29:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_class](
	[类别ID] [int] NOT NULL,
	[类别名称] [nvarchar](30) NULL,
	[说明] [ntext] NULL,
	[图片] [image] NULL,
 CONSTRAINT [PK_t_class] PRIMARY KEY CLUSTERED 
(
	[类别ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[t_class]  WITH CHECK ADD  CONSTRAINT [CK_t_class] CHECK  ((len([类别ID])<=(4)))
GO
ALTER TABLE [dbo].[t_class] CHECK CONSTRAINT [CK_t_class]
GO
